.input {
  border: 2px solid #5e54a4;
  width: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  padding-left: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #3d3b48;
  outline: none;
}

.button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 173%;
  letter-spacing: 0.07em;
  color: #fff;
  padding: 15px 113px;
  background-color: #38cc8b;
  border: none;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  cursor: pointer;
}
.pic {
  margin-left: 50px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: red;
}
